$mediaXl:"(min-width:1200px)";
$mediaL:"(min-width:992px) and (max-width:1199px)";
$mediaM:"(min-width:768px) and (max-width:991px)";
$mediaS:"(max-width:767px)";
$mainColor: black ;
$textColor:;
$size:28px;
$float-left:left;
$float-right:right;
$transition: all .5s ease-in-out;


